<!DOCTYPE html>
<html>
    <body>
<h1>はじめまして。HoYoBASEへようこそ!</h1>
<p>HoYoBASEは、HoYoverse様のソーシャルゲームの情報交換、交流を目的とした非公式SNSサイトです。</p>
<p>サイトのアカウント登録はお済みですか？</p>

<p>すでにアカウントをお持ちの方は、画面右上の「Log in」からログインしてください。</p>


    </body>
</html>
