@font-face {
    font-family: "MyFont";
    src: font-url("myfont.ttc") format(".ttc"),
        font-url("myfont2.ttc") format(".ttc");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #002f33;
    color: aliceblue;
    font-family: "MyFont", sans-serif;
}

.post-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.post-avatar {
    margin-right: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.default-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.post-content {
    flex: 1;
}