@font-face {
    font-family: "MyFont";
    src: font-url("myfont.ttc") format(".ttc"),
        font-url("myfont2.ttc") format(".ttc");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #002f33;
    color: aliceblue;
    font-family: "MyFont", sans-serif;
}

.post-container {
    width: 75%;
    color: #05464e;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: #d2eff4;
    border-radius: 8px;
}

.post-avatar {
    margin-right: 15px;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.default-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.post-content {
    flex: 1;
    width: 100%;
    text-align: left;
}

.post-content p {
    overflow-wrap: anywhere;
}

.post-content strong {
    display: none;
    font-weight: bold;
}

.link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    width: 200px;
    padding-right: auto;
    padding-left: auto;
}

.new-post {
    margin: 20px 0 20px;
    background-color: #3b819b;
    color: #fff;
    padding: 10px 0;
    border-radius: 4px;
    display: inline-block;
}

.post-title-input {
    padding: 5px;
    min-width: 200px;
    width: 50%;
    border-radius: 12px;
    font-size: 24px;
    border: 3px solid #333;
}

.post-body-input {
    padding: 5px;
    min-width: 320px;
    max-width: 880px;
    width: 80%;
    height: 150px;
    border-radius: 12px;
    font-size: 24px;
    border: 3px solid #333;
}

.create-post {
    font-size: 16px;
    color: white;
    background-color: #3b819b;
    width: 200px;
    margin: 20px 0 0 0;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
}